body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
button {
        outline: none;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "SimHei";

}
html,body{
    height:100%;
    overflow:hidden;
}
/* header */
.header {
    width: 100%;
    height: 60px;
    background: #DDD;
    border: 1px solid #CDCDCD;
}
.header h1 {
    font-size: 23px;
    color: #999;
    margin-left: 16px;
    line-height: 60px;
}

/* container */
.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.container .sidebar {
    width: 230px;
    height: 100%;
    font-size: 16px;
    color: black;
    float: left;
    border: 1px solid #CECECC;
    border-left: none;
    border-top: none;
    position: relative;
}
#mainnav{
    background: #F2F2F2;
/*  position: relative; */
}
#mainnav ul{
    padding: 25px 0 0 10px;
}
#mainnav li {
    margin-bottom: 20px;
}
#mainnav .list > p {
    margin-bottom: 20px;
}

.container .sidebar .add {
    height: 40px;
    width: 100%;

    border: 1px solid #CECECC;
    border-right: none;

    position: absolute;
    bottom: 62px;
    left: 0px;
}
.container .sidebar .add img{
    width: 32px;
    height: 32px;
    margin: 5px 90px;
}
.container .sidebar .add img:hover{
    cursor: pointer;
}
#mainnav .list dl dt {
    margin-left: 10px;
}

#mainnav .list dl dt>img{
    width: 16px;
    height: 16px;
}
#mainnav .list dl dt>span{
    margin-left: 16px;
}

#subnav {
    background: #EEE;
}
#subnav ul {
    border-bottom: 1px solid #CECECC;
}
#subnav ul li {
    display: inline-block;
    font-size: 13px;
    margin: 10px 15px;
    text-align: center;
}
#subnav ul li:hover{
    cursor: pointer;
    background: #1DE63D;
}

#main {
    width: calc(100% - 460px);
    margin-left: 461px;
}
#main .row{
    height: 50px;
    border: 1px solid #CECECC;
    border-top: none;
    background: #F2F2F2;
    position: relative;
    line-height: 50px;
    padding-left: 20px;
}

#main .title-row .operate{
    position: absolute;
    width: 80px;
    right: 0px;
    top: 10px;
}
#main .title-row .operate img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

#main .title-row .operate img:hover{
    cursor: pointer;
}

#mainnav .list
/*光标浮停在子分类上时，背景设置为白色*/
.categoryfloating {
    background: white;
}
/*光标浮停在任务上，背景为灰色*/
.taskfloating {
    background:#DFDDDD;
}

.category:hover{
    cursor: pointer;
}

.pop {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    z-index: 10;
    background: gray;
    position: absolute;
    left: 480px;
    top: 220px;
}



.pop .title {
    height: 30px;
    width:  100%;
    background: #10780C;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.pop .title  span{
    display: inline-block;
    line-height: 30px;
    position: absolute;
    left: 170px;
}
.pop .title  img{
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 10px;
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
.pop .title  img:hover {
    cursor: pointer;
}
.pop .input {
    margin: 10px;
}
.pop .input p {
    margin: 10px;
}


.pop button {
    margin-top: 35px ;
    width: 80px;
    height: 30px;
    background: #35E443;
    border-radius: 8px;
    color: white;
    position: relative;

}
.pop button:hover {
    background: #05C210;
    cursor: pointer;
}

.pop .btn1 {
    margin-left: 90px;
}
.pop .btn2 {
    margin-left: 50px;
}
