
* {
    margin: 0px;
    padding:0px;
}

body{
    font-family: sans-serif;
    background-color:#F3E9E9;
}

a, p, ul, li, dl, dt, dd{
    font-size: 13px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.auto{
    width: 980px;
    margin: 0 auto;

}

.command-color-1{
    background: #8d4bbb;
}

#header{
    width: 100%;
    height: 80px;
    background-color: #8d4bbb;
    position:relative;
    min-width:980px;
}

#header .logo a{
    font-size:25px;
    color:white;
    padding:45px 0 0 0;
    float:left;
}

#header .nav ul{
    float:right;
}

#header .nav ul li{
    float:left;
}

#header ul li a{
    font:14px "宋体";
    color:white;
    display:block;
    margin:50px 0 5px 28px;
}

#header .icon a{
    background:url('../img/icon-github.png') no-repeat;
    width:30px;
    height:34px;
    position:absolute;
    right:10px;
    bottom:0px;
}

@media (max-width: 980px){
    .icon{
        display:none;
    }
}

#mid .top{
    background:url('../img/banner-bg.jpg') no-repeat;
    width:100%;
    height:525px;
    min-width:980px;
}

#mid .top div.wrap{
    height:525px;
    width:980px;
    margin:0 auto;
    position:relative;
}

#mid .top .word{
    width:345px;
    /* height:160px; */
    /* 实现渐变 */
     filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);/*IE8
    background:red; /* 一些不支持背景渐变的浏览器 */
 background:-moz-linear-gradient(top, red, rgba(0, 0, 255, 0.5));
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ff0000), to(rgba(0, 0, 255, 0.5)));
    background:-o-linear-gradient(top, red, rgba(0, 0, 255, 0.5));
    position:absolute;
    right:0px;
    bottom:0px;
}

#mid .top .word .content{
    width:345px;
     /* 实现div内文字换行 */
    word-wrap:break-word;
    word-break:break-all;

}

#mid .top .word h2{
    color:white;
    font-size:14px;
    margin:10px 0 10px 300px;
}

#mid .top .word .content{
    font-size:12px;
    color:white;
    line-height:150%;
    padding:0 10px 0 10px;
    margin-bottom:30px;
    text-indent:2em;
}

#mid .banner {
    width:100%;
    min-width:980px;

}

#mid .banner .auto{
    overflow:hidden;
}

#mid .banner .list2{
    margin:10px 10px 0 10px;
}

#mid .banner .list img{
    margin:10px 10px 15px 10px;
}
#mid .banner .list p{
    font-size:12px;
    line-height:170%;
    padding:5px 30px 25px 30px;
    word-break:normal;
    word-wrap:break-word;
    text-indent:2em;
    white-space:normal;
}


#mid .banner .list{
    width:320px;
    background-color:white;
    float:left;
    margin-top:10px;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}

#mid .imformance{
    height:500px;
    background-color:white;
    text-align:center;
    margin:100px 0 0;
    min-width:980px ;
}
@font-face{
    font-family:"Century Gothic";
}

#mid .imformance  h2{
    text-align:center;
    font-size:20px;
    font-family:"Century Gothic";
    margin-bottom:50px;
}


#mid .imformance  img{
    margin:-50px 0 50px;
    border-radius:50%;

}

#mid .imformance  p{
    width:600px;
    font-size:14px;
    color:black;
    margin:0 auto;
    text-align:left;
    text-indent:2em;
    line-height:170%;
}

#main {
    width: 980px;
    margin: 30px auto 300px;
    position: relative;
}

#main  .main-left{
     width: 710px;
}

#main .main-left .article-wrap{
    margin: 25px 0 10px 0;

}


#main .main-left .article-wrap .article{
    height: 300px;
    background: white;
    padding: 30px 20px 20px 20px;
    margin-bottom: 10px;
    position: relative;
}
#main .main-left .article .siderbar{
    width: 48px;

    position: absolute;
    left:-50px;
    top: 40px;
    text-align: center;
}

#main .main-left .article .siderbar div{
    height: 38px;
    line-height: 38px;
}

#main .main-left .siderbar .date{
    background: #8d4bbb;
}

#main .main-left .siderbar .title{
    background: #E9B6F3;
}
#main .main-left .article-wrap  h2{
    font-size: 16px;
    color: #ED43D0;
    margin: 0 0 10px 0;
}

#main .main-left .article-wrap  h3{
    font-size: 12px;
    color: #666;
    margin: 0 0 20px 0;
}

#main .main-left .article-wrap  .content{
    line-height: 170%;
    text-indent: 2em;
}

#main .main-left .article .author{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: grey;
}
#main .main-left .page{
    text-align: center;
}

#main .main-left .page .page-text{
    width: 65px;
    height: 35px;
}
#main .main-left .page .page-num{
    width: 38px;
    height: 35px;
}

#main .main-left .page a{
    color: black;
    margin: 0 5px 0 0;
    background: white;
    display: inline-block;
    line-height: 35px;
}

#main .main-right {
    width:260px;
    position: absolute;
    right: 0;
    top:0;
}

#main .main-right .sider{
    margin-bottom: 10px;
}

#main .main-right .side-search{
    width: 260px;
      /*height:80px;*/
    background: white;
    text-align: center;
    line-height: 80px;


}
#main .main-right .side-search.search:hover{
       border: solid 1px black;
}
#main .main-right .side-search .text{
    width: 170px;
    height: 42px;
    border: solid 1px #F4E5E5;
    background: url(../img/keywords.jpg) no-repeat;
    background-position: 3px 3px;

}

#main .main-right .side-search .text:focus{
    background:none;
    outline: none;
    font-size: 10px;
}

#main .main-right .side-search .submit{
    width: 50px;
    height: 44px;
    color: white;
     border:solid 1px #F4E5E5;
     position: relative;
     left: -10px;
}


#main .main-right .side-search .submit:hover{
    background: blue;
    cursor: pointer;
}

#main .main-right .article-list {
    height: 260px;
    background: #fff;
}

#main .main-right .article-list .list{
    height: 64px;
    border-bottom: 1px solid #A2BBF0;
    border-left: 5px solid #E9B6F3;
}

#main .main-right .article-list .list a{
    font-size: 16px;
    color: #BFB9B9;
    padding-left:20px;
    line-height: 64px;
}

#main .main-right .article-list .list:hover{
    border-left: 5px solid #8d4bbb;
    color: #3E374C;
    cursor:pointer;
}

/*calendar*/
#main .main-right .calendar {
    background: white;
    padding:1px;
    /*height: 300px;*/
}

#main .main-right .calendar table{
    border-collapse: collapse;
    text-align: center;
    margin: 20px 20px;

}

#main .main-right .calendar table td{
    font-size: 10px;
    color: #6D36C4;
    height: 30px;
    width: 30px;
    border-bottom: 1px solid  #9EA0F4;


}

#main .main-right .calendar .year td{
    font-size: 12px;
    color :#392DA8;
    border-bottom:none;
    font-weight: bold;
}

#main .main-right .calendar .sel{
    font-weight: bold;
    color: #1B096A;
}

#main .main-right .calendar .command-color-1{
    color: white;
}

#main .main-right .tags {
    background: white;
    padding: 1px;
}
#main .main-right .tags .tags-title{
    margin: 20px 10px;
    color:#C9BDBD;
    font-size: 12px;


 }
#main .main-right .tags .tags-list{
    margin: 10px;
}

#main .main-right .tags .tags-list .st1 {
    font-size: 30px;
    color:#47456D;
}

#main .main-right .tags .tags-list .st2 {
    font-size: 20px;
    color:#47456D;
}
#gallery-main .gallery-main-left{
    width: 710px;
}

#gallery-main .gallery-main-left .nav {
    padding-bottom: 1px;
    margin-top: 20px;
    *zoom:1;
}

#gallery-main .gallery-main-left .nav:after{
   display: block;
   content: "";
   height: 0px;
   clear: both;
   overflow: hidden;
}
#gallery-main .gallery-main-left .nav ul li{
    padding: 15px 20px 20px 20px;
    float: left;
    background: white;
    margin: 0 1px 0 0;

}

#gallery-main .gallery-main-left .nav .all{

    border-top:3px solid #A6E4F7;
}
#gallery-main .gallery-main-left .nav .all:hover{
     border-top-color: #0394D0;
     cursor: pointer;
}

#gallery-main .gallery-main-left .nav .javascript{
    border-top:3px solid #FCD0FB;
}
#gallery-main .gallery-main-left .nav .javascript:hover{
     border-top-color: #BF13A8;
     cursor: pointer;
}
#gallery-main .gallery-main-left .nav .ui{
    border-top:3px solid #D08FD1;
}
#gallery-main .gallery-main-left .ui:hover{
     border-top-color: #A50AB1;
     cursor: pointer;
}
#gallery-main .gallery-main-left .nav .framework{
    border-top:3px solid #F89876;
}
#gallery-main .gallery-main-left .framework:hover{
     border-top-color: #DE290B;
     cursor: pointer;
}
#gallery-main .gallery-main-left .nav .applications{

    border-top:3px solid #FAFC5A;
}
#gallery-main .gallery-main-left .applications:hover{
     border-top-color: #EE3511;
     cursor: pointer;
}

#gallery-main .gallery-main-left .content {
    background: white;
    margin:  0 5px 10px 0;
    padding: 20px;
    width: 710px;
    height: 710px;
    clear:both;
}

#gallery-main .gallery-main-left .content ul{
    margin:0 10px 0 0;
     float: left;
}
#gallery-main .gallery-main-left .content .symbol{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
}


#gallery-main .gallery-main-left .content .description{
    color: white;
    padding: 10px 0 10px 10px;
    position: relative;
}

#gallery-main .gallery-main-left .content .description h2 ,p{
    margin-left: 40px;
}

#gallery-main .gallery-main-left .content .color-J{
    background: #4E2551;
}
#gallery-main .gallery-main-left .content .color-A{
    background: #E5C426;
}
#gallery-main .gallery-main-left .content .color-F{
    background: #AD1414;
}
#gallery-main .gallery-main-left .content .color-U{
    background: #8F28D7;
}



#gallery-main .gallery-main-left .content .description{
    margin: -3px 0 10px 0;
}

#gallery-main .gallery-main-left .content .gallery-left {
    width: 330px;
}
#gallery-main .gallery-main-left .content .gallery-left .bottom ul{
    float: left;
    width: 160px;

}

#gallery-main .gallery-mid li{
    width: 160px;
    margin: -3px 0 10px 0;
}

#footer {
    background:black;
    width:100%;
    height:440px;
    min-width:980px;
    clear:both;
}

#footer .footer-nav{
    height:30px;
    border-bottom:1px solid #ECE9E9;
    text-align:center;
}

#footer .footer-nav a{
    color:#DDD3D3;
    line-height:30px;
    margin:0 20px;
}

#footer .link{
    width:980px;
    margin:0 auto 100px;
    text-align:center;
    overflow: hidden;

 }

 #footer .link .link-item{
    float:left;
    width: 196px;
    margin:30px 0 50px 0;
    color:#DDD3D3;

 }


 #footer .link .link-item .link-text{
    color:white;
    margin-bottom:20px;
 }


#footer .link .link-content  li a{
    display: block;
    margin:0 0 5px 55px;
    color: #DDD3D3;
    width: 80px;

 }

#footer .copyright{
    width: 980px;
    margin: 0 auto;
    text-align: center;


}

#footer .copyright p{
    color: #DDD3D3;
    margin-bottom: 10px;
}

