@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}

li {
    list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "微软雅黑";
}
html {
  height: 100%;
}

#header {
  width: 100%;
  height: 55px;
  background: #228ABF;
  position: relative;
}

#header span{
  display: inline-block;
}

#header .logo {
  position: absolute;
  left: 50px;
  top: 10px;

}
#header .search{
  position: absolute;
  left: 900px;
  top: 15px;
}
 
#header .search input{
  width: 310px;
  height: 25px;
  border-radius: 25px;

  background-image: url('../img/search_icon.png');
  background-repeat: no-repeat;
  background-position: 10px center ;
}

#header .login{
  position: absolute;
  left: 1230px;
  top: 19px;
}

#header .login b{
  position: relative;
  left: 5px;
  top: -3px;
  color: white;
  font-size: 10px;
 }

 #container .sider {
  width: 260px;
  height: 100%;
  background: #2b2e3d;
  float: left;
 }

 #container .sider .wrap {
  
    .user-info {
        padding: 20px 0 0 40px;
        height: 120px;
        
        color: #65778B;
        .name{
          position: relative;
          left: 10px;
          top: -20px;
          color: white;
        }
        ul {
          font-size: 12px;
          position: relative;
          top: 20px;
          left: -10px;
          font-weight: bold;
          li {
            width: 80px;
            height: 35px;
            display: inline-block;
            text-align: center;
          }
          .star {
            border-right: 2px solid #333647;
          }
        }
      }
      .catalog {
        padding-top: 20px;
        font-size: 12px;
        color:  #65778B;
        .list-wrap {
          padding: 15px 0 35px 40px;
          .icon {
            padding-right: 10px;
          }
        }
        .select {
            color: white;
          }
        .report{
            background: #383e4e;
          }
        }
        
        .stage {
          padding: 10px 0 0 25px;
          li {
            padding-top: 10px;
            img {
              padding-right: 5px;
            }
          }
        }
 }

 #container .content {
  margin-left: 260px;
  background: #EEE;
  font-size: 12px;
  color:  #D1D1D1;
  .nav {
    height: 30px;
    background: white;
    font-size: 12px;
    color:  #D1D1D1;
    line-height: 30px;
    padding-left: 20px;
    .cur {
      color: #CADCD5;
    }
  }
  .main {
    width: 890px;
    margin: 20px auto;
    .search {
      height: 85px;
      background: white;
      position: relative;
      .wrap{
  
        /* padding: 20px 0 0 30px; */
        form, input{
          display: inline-block;
          height: 25px;
          border: 1px solid #D1D1D1;
          line-height: 25px;
        }
        .column {
          padding-left: 30px;
          display: inline-block;
          position: absolute;
          top: 15px;
        }
        .column-1 {
          left: 30px;
          width: 125px;
          height: 55px;
           form{
            width: 70px;
          } 
        }
        .column-2 {
          left: 190px;
          width: 190px;
          height: 55px;
          div {
            display: inline-block;
            form {
              width: 120px;
            }
          }
          .row-2 {
            position: relative;
            top: -15px;
          }
          img{
            position: relative;
            top: -15px;
          }
        }
        .column-3 {
          left: 410px;
          width: 295px;
          height: 55px;
          div {
            display: inline-block;
          }
          .row-2{
            position: relative;
            top: 5px;
          }
          .row-1-1 input{
            width: 125px;
          }
          .row-1-2 form{
            width: 70px;
          }
          .row-2-1 form{
            width: 70px;
          }
          .row-2-2 {
              padding-left: 10px;
              form{
              width: 125px;
            }
          }
           
        }
        button{
          position: absolute;
          top: 30px;
          right: 85px;
          display: inline-block;
          width: 50px;
          height: 25px;
          background: #3A8BC0;
          color: white;
          font-size: 14px;
          border-radius: 2px;
        }
      }
    }
  }
 }