@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "微软雅黑";
}
html {
  height: 100%;
}

#header {
  width: 100%;
  height: 55px;
  background: #228ABF;
  position: relative;
}

#header span{
  display: inline-block;
}

#header .logo {
  position: absolute;
  left: 50px;
  top: 10px;

}
#header .search{
  position: absolute;
  left: 900px;
  top: 15px;
}
 
#header .search input{
  width: 310px;
  height: 25px;
  border-radius: 25px;

  background-image: url('../img/search_icon.png');
  background-repeat: no-repeat;
  background-position: 10px center ;
}

#header .login{
  position: absolute;
  left: 1230px;
  top: 19px;
}

#header .login b{
  position: relative;
  left: 5px;
  top: -3px;
  color: white;
  font-size: 10px;
 }

 #container .sider {
  width: 260px;
  height: 100%;
  background: #2b2e3d;
  float: left;
 }

 #container .sider .wrap {
  padding: 20px 0 0 40px;
 }



 #container .content {
  float: left;
 }